*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    background-color: #16151a;
    align-items: center;
    color: azure;
    margin-top: -16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 0 15px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    margin-top: 20PX;
}

.Home,.Social,.Games,.Services,.Users,.Market,.Leaderboard,.USRGG{
    text-decoration: none;
    color: azure;
    font-size: 13px;
    padding: 10px 20px;
    font-size: 13px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.Signup{
    border: 1px solid white;
    border-radius: 5px;
    color: azure;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mob-menu-icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .logo {
      display: flex;
      position: absolute;
      top: 15px;
      left: 35px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mob{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #16151a;
        left: 0;
        top: auto;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .Home,.Social,.Games,.Services,.Users,.Market,.Leaderboard,.USRGG{
        color: azure;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .Signup{
        border: none;

    }

    .mob-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: azure;
        background-color: #16151a;
        outline: none;
        top: 15px;
        right: 25px;
    }

}

@media (min-width: 992px){
    
}