.sign__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    font-family: "Changa", sans-serif;
    
}

.mb-3 {
    justify-content: space-evenly;
}

.sign__btn {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: #6164ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-family: "Changa", sans-serif;
    font-weight: 500;
    margin: 15px auto;
}

.mt-2, .my-2 {
    margin-top: .5rem !important;
}


p {
    font-family: "Changa", sans-serif;
}

.feature {
    font-family: "Changa", sans-serif;
}