.Footer{
    background-color: black;
    color: aliceblue;
    padding: 2rem 0;
    margin-top: 15rem;
}

  .ft-1 h3 {
    font-weight: 700;
    font-family: cursive;
    letter-spacing: 2px;
    padding: 0.5rem 0;
  }
  
  .ft-1 span {
    color: #f60838;
  }
  
  .ft-1 p {
    padding: 0rem 5rem 0.8rem 0;
    font-weight: 500;
  }
  
  .footer-icons i {
    padding: 0.4rem 0.5rem;
    background: #e1e1e1;
    color: #f60838;
    margin: 0 0.5rem;
    border-radius: 50%;
  }
  
  .footer-icons i:hover {
    background: #f60838;
    color: #fff;
    transition: 0.6s;
    cursor: pointer;
  }
  
  .Footer h5 {
    color: rgb(97, 100, 255);
  }
  
  .ft-2 ul {
    list-style: none;
    padding-left: 0;
  }
  
  .ft-2 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
  }
  
  .ft-2 ul a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
  }
  
  .ft-3 p {
    font-weight: 500;
    padding: 0.1rem 0;
    font-size: 1.06rem;
  }
  
  .ft-3 i {
    padding-right: 0.5rem;
  }
  
  .Last-footer {
    background: rgb(97, 100, 255);
    text-align: center;
    padding: 1rem 0;
  }
  
  .Last-footer p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }

  .footer-icons i{
    padding: 0.5rem;
    background-color: #e1e1e1;
    color: #f60838;
    margin: 0 0.5rem;
    border-radius: 50%;
  }

  